.mw-accordian {
  display: none;
  .active {
    display: block;
  }
  .hidden {
    display: none;
  }
  .accordian-container {
    margin: 15px;
  }
}

.accordian-btn {
  cursor: pointer;
  height: 25px;
  width: 100%;
  background: blueviolet;
  margin: 0 0 1px 0;
  color: #fff;
  padding: 6px 5px 0px 5px;
  &::hover {
    background: #000fff;
  }
  &::before {
    content: '+ ';
    width: 100%;
    height: 25px;
  }
  &.active::before {
    content: '- ';
  }
  &::nth-child(1) {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }
  &::last-child {
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
  }
}


.accordian-btn:nth-child(1) {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.accordian-btn:last-child {
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
